<li>
  <%= gravatar_for user, size: 50 %>
  <b><%= link_to user.name, user %></b>
  <% if current_user.try(:admin?) && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>